# Pandas
    You and your team are analysts at a mobile phone company. Your manager asks you to analyze the market trends of             different mobile phone models to understand their performance based on various features

### *Reading CSV Files*
    What's the first thing we should do when we receive a dataset?🤔🤔
    The first step is to read the CSV file and load it into a DataFrame to inspect the data. Let's read the file and take a     look at the first few rows.

In [2]:
import pandas as pd

# Reading the CSV file
file_path = 'mobile_data_analysis.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head()
# Display the all columns of the dataset
data.columns

Index(['Name', 'Rating', 'Spec_score', 'No_of_sim', 'Ram', 'Battery',
       'Display', 'Camera', 'External_Memory', 'Android_version', 'Price',
       'company', 'Inbuilt_memory', 'fast_charging', 'Screen_resolution',
       'Processor', 'Processor_name'],
      dtype='object')

In [3]:
data.head()

,Name,Rating,Spec_score,No_of_sim,Ram,Battery,Display,Camera,External_Memory,Android_version,Price,company,Inbuilt_memory,fast_charging,Screen_resolution,Processor,Processor_name
0,Samsung Galaxy F14 5G,4.65,68,"Dual Sim, 3G, 4G, 5G, VoLTE,",4 GB RAM,6000 mAh Battery,6.6 inches,50 MP + 2 MP Dual Rear &amp; 13 MP Front Camera,"Memory Card Supported, upto 1 TB",13.0,9999,Samsung,128 GB inbuilt,25W Fast Charging,2408 x 1080 px Display with Water Drop Notch,Octa Core Processor,Exynos 1330
1,Samsung Galaxy A11,4.20,63,"Dual Sim, 3G, 4G, VoLTE,",2 GB RAM,4000 mAh Battery,6.4 inches,13 MP + 5 MP + 2 MP Triple Rear &amp; 8 MP Fro...,"Memory Card Supported, upto 512 GB",10.0,9990,Samsung,32 GB inbuilt,15W Fast Charging,720 x 1560 px Display with Punch Hole,1.8 GHz Processor,Octa Core
2,Samsung Galaxy A13,4.30,75,"Dual Sim, 3G, 4G, VoLTE,",4 GB RAM,5000 mAh Battery,6.6 inches,50 MP Quad Rear &amp; 8 MP Front Camera,"Memory Card Supported, upto 1 TB",12.0,11999,Samsung,64 GB inbuilt,25W Fast Charging,1080 x 2408 px Display with Water Drop Notch,2 GHz Processor,Octa Core
3,Samsung Galaxy F23,4.10,73,"Dual Sim, 3G, 4G, VoLTE,",4 GB RAM,6000 mAh Battery,6.4 inches,48 MP Quad Rear &amp; 13 MP Front Camera,"Memory Card Supported, upto 1 TB",12.0,11999,Samsung,64 GB inbuilt,NaN,720 x 1600 px,Octa Core,Helio G88
4,Samsung Galaxy A03s (4GB RAM + 64GB),4.10,69,"Dual Sim, 3G, 4G, VoLTE,",4 GB RAM,5000 mAh Battery,6.5 inches,13 MP + 2 MP + 2 MP Triple Rear &amp; 5 MP Fro...,"Memory Card Supported, upto 1 TB",11.0,11999,Samsung,64 GB inbuilt,15W Fast Charging,720 x 1600 px Display with Water Drop Notch,Octa Core,Helio P35

In [7]:
## Can pass the number of rows as the arguments into the head
data.head(2)

,Name,Rating,Spec_score,No_of_sim,Ram,Battery,Display,Camera,External_Memory,Android_version,Price,company,Inbuilt_memory,fast_charging,Screen_resolution,Processor,Processor_name
0,Samsung Galaxy F14 5G,4.65,68,"Dual Sim, 3G, 4G, 5G, VoLTE,",4 GB RAM,6000 mAh Battery,6.6 inches,50 MP + 2 MP Dual Rear &amp; 13 MP Front Camera,"Memory Card Supported, upto 1 TB",13.0,9999,Samsung,128 GB inbuilt,25W Fast Charging,2408 x 1080 px Display with Water Drop Notch,Octa Core Processor,Exynos 1330
1,Samsung Galaxy A11,4.20,63,"Dual Sim, 3G, 4G, VoLTE,",2 GB RAM,4000 mAh Battery,6.4 inches,13 MP + 5 MP + 2 MP Triple Rear &amp; 8 MP Fro...,"Memory Card Supported, upto 512 GB",10.0,9990,Samsung,32 GB inbuilt,15W Fast Charging,720 x 1560 px Display with Punch Hole,1.8 GHz Processor,Octa Core

In [5]:
## Last 5 records of dataframe
data.tail()

,Name,Rating,Spec_score,No_of_sim,Ram,Battery,Display,Camera,External_Memory,Android_version,Price,company,Inbuilt_memory,fast_charging,Screen_resolution,Processor,Processor_name
1365,TCL 40R,4.05,75,"Dual Sim, 3G, 4G, 5G, VoLTE,",4 GB RAM,5000 mAh Battery,6.6 inches,50 MP + 2 MP + 2 MP Triple Rear &amp; 8 MP Fro...,Memory Card (Hybrid),12.0,18999,TCL,64 GB inbuilt,15W Fast Charging,720 x 1612 px,Octa Core,Dimensity 700 5G
1366,TCL 50 XL NxtPaper 5G,4.10,80,"Dual Sim, 3G, 4G, VoLTE,",8 GB RAM,5000 mAh Battery,6.8 inches,50 MP + 2 MP Dual Rear &amp; 16 MP Front Camera,Memory Card (Hybrid),14.0,24990,TCL,128 GB inbuilt,33W Fast Charging,1200 x 2400 px,Octa Core,Dimensity 7050
1367,TCL 50 XE NxtPaper 5G,4.00,80,"Dual Sim, 3G, 4G, 5G, VoLTE,",6 GB RAM,5000 mAh Battery,6.6 inches,50 MP + 2 MP Dual Rear &amp; 16 MP Front Camera,"Memory Card Supported, upto 1 TB",13.0,23990,TCL,256 GB inbuilt,18W Fast Charging,720 x 1612 px,Octa Core,Dimensity 6080
1368,TCL 40 NxtPaper 5G,4.50,79,"Dual Sim, 3G, 4G, 5G, VoLTE,",6 GB RAM,5000 mAh Battery,6.6 inches,50 MP + 2 MP + 2 MP Triple Rear &amp; 8 MP Fro...,"Memory Card Supported, upto 1 TB",13.0,22499,TCL,256 GB inbuilt,15W Fast Charging,720 x 1612 px,Octa Core,Dimensity 6020
1369,TCL Trifold,4.65,93,"Dual Sim, 3G, 4G, 5G, VoLTE, Vo5G,",12 GB RAM,4600 mAh Battery,10 inches,"Foldable Display, Dual Display",50 MP + 48 MP + 8 MP Triple Rear &amp; 32 MP F...,13.0,119990,TCL,256 GB inbuilt,67W Fast Charging,1916 x 2160 px,Octa Core,Snapdragon 8 Gen2

In [8]:
# Display the all columns of the dataset
data.columns

Index(['Name', 'Rating', 'Spec_score', 'No_of_sim', 'Ram', 'Battery',
       'Display', 'Camera', 'External_Memory', 'Android_version', 'Price',
       'company', 'Inbuilt_memory', 'fast_charging', 'Screen_resolution',
       'Processor', 'Processor_name'],
      dtype='object')

    Our dataset contains various columns like 'Name', 'Rating', 'Spec_score', 'No_of_sim', 'Ram', 'Battery', 'Display',         'Camera', 'External_Memory', 'Android_version', 'Price', 'company', 'Inbuilt_memory', 'fast_charging',                     'Screen_resolution', 'Processor',and 'Processor_name'. Each row represents a different mobile phone

In [9]:
# Reading with specific columns
data_selected_columns = pd.read_csv(file_path, usecols=['Battery', 'Ram', 'Price'])
print("\nReading Specific Columns:\n", data_selected_columns.head())

# Reading with index column
data_with_index = pd.read_csv(file_path, index_col='Name')
print("\nReading with Index Column:\n", data_with_index.head())

# Reading with missing values handling
data_missing_values = pd.read_csv(file_path, na_values=['NA', 'n/a', ''])
print("\nReading with Missing Values Handling:\n", data_missing_values.head())

Reading Specific Columns:
         Ram            Battery  Price
0  4 GB RAM  6000 mAh Battery    9999
1  2 GB RAM  4000 mAh Battery    9990
2  4 GB RAM  5000 mAh Battery   11999
3  4 GB RAM   6000 mAh Battery  11999
4  4 GB RAM  5000 mAh Battery   11999

Reading with Index Column:
                                       Rating  Spec_score  \
Name
Samsung Galaxy F14 5G                   4.65          68
Samsung Galaxy A11                      4.20          63
Samsung Galaxy A13                      4.30          75
Samsung Galaxy F23                      4.10          73
Samsung Galaxy A03s (4GB RAM + 64GB)    4.10          69

                                                          No_of_sim       Ram  \
Name
Samsung Galaxy F14 5G                 Dual Sim, 3G, 4G, 5G, VoLTE,   4 GB RAM
Samsung Galaxy A11                        Dual Sim, 3G, 4G, VoLTE,   2 GB RAM
Samsung Galaxy A13                        Dual Sim, 3G, 4G, VoLTE,   4 GB RAM
Samsung Galaxy F23                        Dual Sim, 3G, 4G, VoLTE,   4 GB RAM
Samsung Galaxy A03s (4GB RAM + 64GB)      Dual Sim, 3G, 4G, VoLTE,   4 GB RAM

                                                Battery     Display  \
Name
Samsung Galaxy F14 5G                 6000 mAh Battery   6.6 inches
Samsung Galaxy A11                    4000 mAh Battery   6.4 inches
Samsung Galaxy A13                    5000 mAh Battery   6.6 inches
Samsung Galaxy F23                     6000 mAh Battery  6.4 inches
Samsung Galaxy A03s (4GB RAM + 64GB)  5000 mAh Battery   6.5 inches

                                                                                 Camera  \
Name
Samsung Galaxy F14 5G                   50 MP + 2 MP Dual Rear &amp; 13 MP Front Camera
Samsung Galaxy A11                    13 MP + 5 MP + 2 MP Triple Rear &amp; 8 MP Fro...
Samsung Galaxy A13                              50 MP Quad Rear &amp; 8 MP Front Camera
Samsung Galaxy F23                             48 MP Quad Rear &amp; 13 MP Front Camera
Samsung Galaxy A03s (4GB RAM + 64GB)  13 MP + 2 MP + 2 MP Triple Rear &amp; 5 MP Fro...

                                                         External_Memory  \
Name
Samsung Galaxy F14 5G                   Memory Card Supported, upto 1 TB
Samsung Galaxy A11                    Memory Card Supported, upto 512 GB
Samsung Galaxy A13                      Memory Card Supported, upto 1 TB
Samsung Galaxy F23                      Memory Card Supported, upto 1 TB
Samsung Galaxy A03s (4GB RAM + 64GB)    Memory Card Supported, upto 1 TB

                                      Android_version  Price  company  \
Name
Samsung Galaxy F14 5G                            13.0   9999  Samsung
Samsung Galaxy A11                               10.0   9990  Samsung
Samsung Galaxy A13                               12.0  11999  Samsung
Samsung Galaxy F23                               12.0  11999  Samsung
Samsung Galaxy A03s (4GB RAM + 64GB)             11.0  11999  Samsung

                                       Inbuilt_memory       fast_charging  \
Name
Samsung Galaxy F14 5G                  128 GB inbuilt   25W Fast Charging
Samsung Galaxy A11                      32 GB inbuilt   15W Fast Charging
Samsung Galaxy A13                      64 GB inbuilt   25W Fast Charging
Samsung Galaxy F23                      64 GB inbuilt                 NaN
Samsung Galaxy A03s (4GB RAM + 64GB)    64 GB inbuilt   15W Fast Charging

                                                                  Screen_resolution  \
Name
Samsung Galaxy F14 5G                  2408 x 1080 px Display with Water Drop Notch
Samsung Galaxy A11                            720 x 1560 px Display with Punch Hole
Samsung Galaxy A13                     1080 x 2408 px Display with Water Drop Notch
Samsung Galaxy F23                                                    720 x 1600 px
Samsung Galaxy A03s (4GB RAM + 64GB)    720 x 1600 px Display with Water Drop Notch

                                                 Processor Processor_name
Name
Samsung Galaxy F14 5G                  Octa Core Processor    Exynos 1330
Samsung Galaxy A11                       1.8 GHz Processor      Octa Core
Samsung Galaxy A13                         2 GHz Processor      Octa Core
Samsung Galaxy F23                               Octa Core      Helio G88
Samsung Galaxy A03s (4GB RAM + 64GB)             Octa Core      Helio P35

Reading with Missing Values Handling:
                                    Name  Rating  Spec_score  \
0                 Samsung Galaxy F14 5G    4.65          68
1                    Samsung Galaxy A11    4.20          63
2                    Samsung Galaxy A13    4.30          75
3                    Samsung Galaxy F23    4.10          73
4  Samsung Galaxy A03s (4GB RAM + 64GB)    4.10          69

                       No_of_sim       Ram            Battery     Display  \
0  Dual Sim, 3G, 4G, 5G, VoLTE,   4 GB RAM  6000 mAh Battery   6.6 inches
1      Dual Sim, 3G, 4G, VoLTE,   2 GB RAM  4000 mAh Battery   6.4 inches
2      Dual Sim, 3G, 4G, VoLTE,   4 GB RAM  5000 mAh Battery   6.6 inches
3      Dual Sim, 3G, 4G, VoLTE,   4 GB RAM   6000 mAh Battery  6.4 inches
4      Dual Sim, 3G, 4G, VoLTE,   4 GB RAM  5000 mAh Battery   6.5 inches

                                              Camera  \
0    50 MP + 2 MP Dual Rear &amp; 13 MP Front Camera
1  13 MP + 5 MP + 2 MP Triple Rear &amp; 8 MP Fro...
2            50 MP Quad Rear &amp; 8 MP Front Camera
3           48 MP Quad Rear &amp; 13 MP Front Camera
4  13 MP + 2 MP + 2 MP Triple Rear &amp; 5 MP Fro...

                      External_Memory  Android_version  Price  company  \
0    Memory Card Supported, upto 1 TB             13.0   9999  Samsung
1  Memory Card Supported, upto 512 GB             10.0   9990  Samsung
2    Memory Card Supported, upto 1 TB             12.0  11999  Samsung
3    Memory Card Supported, upto 1 TB             12.0  11999  Samsung
4    Memory Card Supported, upto 1 TB             11.0  11999  Samsung

    Inbuilt_memory       fast_charging  \
0   128 GB inbuilt   25W Fast Charging
1    32 GB inbuilt   15W Fast Charging
2    64 GB inbuilt   25W Fast Charging
3    64 GB inbuilt                 NaN
4    64 GB inbuilt   15W Fast Charging

                               Screen_resolution             Processor  \
0   2408 x 1080 px Display with Water Drop Notch   Octa Core Processor
1          720 x 1560 px Display with Punch Hole     1.8 GHz Processor
2   1080 x 2408 px Display with Water Drop Notch       2 GHz Processor
3                                  720 x 1600 px             Octa Core
4    720 x 1600 px Display with Water Drop Notch             Octa Core

  Processor_name
0    Exynos 1330
1      Octa Core
2      Octa Core
3      Helio G88
4      Helio P35

### *Loading Python Data Objects*
You know, there's a common misconception😦 that data always comes in csv files. But in reality, data can be stored in       various formats, and that's why we have different functions to read them. It's not just about csv – we can handle           excel files, SQL databases, JSON files, and more. The flexibility to read data from multiple sources is really             important in data analysis🥳

    A dataset can be loaded from various data sources using relevant Pandas constructs (functions) as mentioned below:
    CSV file - read_csv() function
    JSON file - read_json() function
    Excel file - read_excel() function
    Database table - read_sql() function
    All the above functions return a dataframe object and most of these functions have a parameter called 'chunksize'.
    e.g. to load a csv data file (mobile phone price prediction.csv) you can use the below code
    data = pd.read_csv(file_path)

### *Reading JSON Files*

In [11]:
# Load the JSON file into a DataFrame
df_employee = pd.read_json('employee.json')

# Display the DataFrame
df_employee.head()

,id,name,gender,designation,salary,experience,state
0,1,Alice Johnson,Female,Software Engineer,85000,5,California
1,2,Bob Smith,Male,Data Scientist,95000,7,Texas
2,3,Charlie Brown,Male,Project Manager,110000,10,New York
3,4,Diana Prince,Female,HR Manager,78000,6,Florida
4,5,Edward Norton,Male,DevOps Engineer,92000,8,Washington

### *Understanding the Data🤓*
You look at the data and notice columns like 'Name', 'Rating', 'Spec_score', 'Ram', 'Battery', and many others.
    Question: How can we understand the structure and types of data we're dealing with?
    We can use methods like shape , info() and describe() to get a better understanding of the data.

In [15]:
data.shape

(1370, 17)

In [18]:
# Displaying information about the DataFrame
"""
1. Gives data type information about all the columns in the dataframe
2. Given count of NOT NULL values for each column
"""
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1370 non-null   object
 1   Rating             1370 non-null   float64
 2   Spec_score         1370 non-null   int64
 3   No_of_sim          1370 non-null   object
 4   Ram                1370 non-null   object
 5   Battery            1370 non-null   object
 6   Display            1370 non-null   object
 7   Camera             1370 non-null   object
 8   External_Memory    1370 non-null   object
 9   Android_version    1370 non-null   float64
 10  Price              1370 non-null   int64
 11  company            1370 non-null   object
 12  Inbuilt_memory     1351 non-null   object
 13  fast_charging      1281 non-null   object
 14  Screen_resolution  1368 non-null   object
 15  Processor          1342 non-null   object
 16  Processor_name     1370 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 182.1+ KB
None

In [19]:
# Descriptive statistics of numerical columns
"""
1. Only Gives Descriptive statistics for numerical columns
2. It includes below informations
  * count
  * mean
  * standard deviation
  * minimum
  * 25% quantile
  * 50% quantile
  * 75% quantile
  * maximum
"""
print(data.describe())

            Rating   Spec_score  Android_version          Price
count  1370.000000  1370.000000      1370.000000    1370.000000
mean      4.374416    80.234307        12.130529   33436.740876
std       0.230176     8.373922         1.621893   30452.065430
min       3.750000    42.000000         2.000000    6950.000000
25%       4.150000    75.000000        12.000000   12990.000000
50%       4.400000    82.000000        12.130529   21999.000000
75%       4.550000    86.000000        13.000000   42990.000000
max       4.750000    98.000000        15.000000  214990.000000

### *Performing Arithmetic Operations - Crunching Numbers*
Our next adventure involves performing arithmetic operations. Suppose we want to understand how doubling the price         impacts our dataset. Let’s create a new column for this.

In [ ]:
# Creating a new column with doubled Price
data['Double_Price'] = data['Price'] * 2

# Display the first few rows to see the new column
print(data[['Price', 'Double_Price']].head())

Here, we multiply the 'Price' column by 2 and store it in a new column 'Double_Price'. This simple operation opens the    door to more complex analysis.

Can we do other arithmetic operations as well?"🫤

Absolutely!😊 We can add, subtract, multiply, or divide columns. Let's create a column showing the sum of 'Ram' and           'Battery'.

In [ ]:
# Creating a new column with the sum of Ram and Battery
data['Ram_Battery_Sum'] = data['Ram'] + data['Battery']

# Display the first few rows to see the new column
print(data[['Ram', 'Battery', 'Ram_Battery_Sum']].head())

### *Focusing the Lens - Selecting Data*
To find valuable insights, we often need to focus on specific parts of our data. For example, let’s select only the        Name', 'Price', and 'Ram' columns.

In [ ]:
# Selecting specific columns
selected_columns = data[['Name', 'Price', 'Ram']]

# Display the selected columns
print(selected_columns.head())

This is cool!😁 How about selecting rows based on multiple conditions
     
This step helps us concentrate on the most relevant data for our analysis. Next, we’ll narrow down our rows to high-        priced phones
     
Let’s select phones with 'Price' greater than 20000 and 'Rating' greater than 4 ."

In [ ]:
# Selecting rows based on multiple conditions
high_price_high_rating_phones = data[(data['Price'] > 200) & (data['Rating'] > 4.0)]

# Display the selected rows
high_price_high_rating_phones.head()

### *Rounding Numbers - Making Data Neat*
Clean data is crucial for clear insights. Sometimes, this means rounding numbers to make them more readable. Let’s         round the 'Price' column to the nearest integer.
    We can round numbers using the round function. Let's round the 'Price' column to the nearest integer

In [ ]:
# Rounding the Price column
data['Rounded_Price'] = data['Price'].round()

# Display the first few rows to see the rounded values
print(data[['Price', 'Rounded_Price']].head())

Rounding the 'Price' column makes our data cleaner and easier to interpret. We can also round other columns to specific     decimal places as needed
    
This rounds the 'Price' column to the nearest integer and stores it in a new column 'Rounded_Price'. We can also round     to a specific number of decimal places. For instance, rounding the 'Rating' to one decimal place.

In [ ]:
# Rounding the Rating column to one decimal place
data['Rounded_Rating'] = data['Rating'].round(1)

# Display the first few rows to see the rounded values
print(data[['Rating', 'Rounded_Rating']].head())

### *Data Aggregation - Summarizing Data*
To gain quick insights, we can summarize our data through aggregation. For instance, let’s calculate the average price     of phones grouped by their company.

In [ ]:
# Aggregating data: Calculating the mean Price by company
mean_price_by_company = data.groupby('company')['Price'].mean()

# Display the aggregated data
print(mean_price_by_company)

Grouping by 'company' and calculating the mean 'Price' gives us an overview of how prices vary across different brands.
    Exciting !!! Now Let's check which companies phones has the highest rating phones .

In [ ]:
# Aggregating data: Calculating Which 
average_ratings = data.groupby('company')['Rating'].mean().sort_values(ascending=False)

# Display the aggregated data
average_ratings

### *Cleaning Data - Data Munging Techniques*
Data isn't always perfect. It often contains missing values or duplicates that need to be addressed. Let’s start by         identifying missing values.

In [ ]:
# Checking for missing values
missing_values = data.isnull().sum()
print("Missing Values:\n", missing_values)

We see the count of missing values for each column. Now, let’s fill missing values in 'Android_version' with the mean

In [ ]:
# Filling missing values in Battery with the mean
data['Android_version'].fillna(data['Android_version'].mean(), inplace=True)

# Display the first few rows to see changes
print(data.head())

We can also remove duplicate rows to clean our data.

In [ ]:
# Removing duplicates
data_no_duplicates = data.drop_duplicates()

# Display the first few rows to see changes
print(data_no_duplicates.head())

####  Saving Our Progress - A Wise Move😌
As we navigate through our analysis, it’s crucial to save our progress. This way, we can pick up right where we left       off. Let’s save our DataFrame to both a CSV file and a pickle file.

In [ ]:
# Save DataFrame to a CSV file
data.to_csv('saved_mobile_phone_data.csv', index=False)
print("Data saved to CSV file.")

#### Visualizing Data - Bringing Insights to Life
Visualization is a powerful tool to understand data trends and patterns. Let’s plot some graphs to visualize our           findings. First, we need to import the necessary library.

In [ ]:
import matplotlib.pyplot as plt

# Plotting the distribution of phone prices
plt.figure(figsize=(10, 6))
plt.hist(data['Price'], bins=30, edgecolor='k', alpha=0.7)
plt.title('Distribution of Phone Prices')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.show()

This histogram shows the distribution of phone prices, helping us understand the range and frequency of different price     points.🧐🧐

Next, let’s plot the average price by company using a bar chart.

In [ ]:
# Plotting average price by company
mean_price_by_company.plot(kind='bar', figsize=(12, 8), color='skyblue')
plt.title('Average Price by Company')
plt.xlabel('Company')
plt.ylabel('Average Price')
plt.show()

#### Conclusion: Insights and Learnings

    Through this journey, we’ve explored various techniques to read, clean, manipulate, and visualize data using pandas.       We’ve seen how to perform arithmetic operations, select and filter data, handle missing values, aggregate data, merge       datasets, and visualize trends.🤗

    Each step has brought us closer to understanding our mobile phone dataset, enabling us to extract meaningful insights       and make informed decisions. This story-driven approach not only teaches us the technical skills but also emphasizes       the importance of clear, clean, and insightful data analysis.🫡