# Concept Revisit

# Python Basics

### Data types
Python has several basic data types. Here are a few common ones
Integers,Floats,String,Booleans

#### Integers:
    Whole numbers, no decimals.
    Immutable: Once you create an integer, its value cannot be changed.
    Example: Number of players in a cricket team.

In [1]:
cricket_team_players = 11
print(cricket_team_players)  # Output: 11

11

#### Floats:
    Numbers with decimals.
    Immutable: Once you create a float, its value cannot be changed.
    Example: Average score of a tennis player.

In [2]:
tennis_player_avg_score = 7.85
print(tennis_player_avg_score)  # Output: 7.85

7.85

#### Strings:
    Sequence of characters.
    Immutable: Once you create a string, you cannot change its characters.
    Example: Name of a badminton player.

In [6]:
my_string='''Ijsjscjncjsnc bsncasncsjoncsjchhasncaso sancianc
sncjsnjanasncksancakscn
scskncskc'''

In [10]:
age=21
print(type(age))

ti=str(age)
print(type(ti))

<class 'int'>
<class 'str'>

In [27]:
badminton_player_name = '    Saina Nehewal   '
# i=int(badminton_player_name)
# print(type(i))  # Output: Saina Nehwal

In [28]:
len(badminton_player_name)

20

In [29]:
badminton_player_name.strip()

'Saina Nehewal'

In [30]:
badminton_player_name.split()

['Saina', 'Nehewal']

##### Booleans:
    Immutable: Once you create a boolean, its value cannot be changed.
True or False values.
Example: Is the match over?

In [15]:
car=True
print(type(car))

<class 'bool'>

In [18]:
var="money"=="currency"
print(type(var))

<class 'bool'>

In [20]:
i=1==True
type(i)

bool

### 1. Download Anaconda:
Go to the Anaconda website(https://docs.anaconda.com/anaconda/install/windows/).

Click on Download based on your operating system (Windows, macOS, or Linux).

Choose the Python 3.x version and download the installer.
#### 2. Install Anaconda:
Windows:
Double-click the downloaded .exe file.

Follow the installer instructions, and select options like "Add Anaconda to PATH" (recommended) and "Register Anaconda as the default Python" (optional).

macOS/Linux:
Open a terminal and run the installer script:

### 3. Verify Installation:
Open a terminal (or Anaconda Prompt for Windows).

Type conda --version to verify the installation.


### 4. Create a Virtual Environment:
Open your terminal or Anaconda Prompt.

Create a new environment with a specific Python version:

#### conda create --name myenv python=3.x

Replace myenv with your desired environment name and 3.x with the Python version you need.

Activate the environment:
Windows:

#### conda activate myenv

macOS/Linux:

source activate myenv

#### source activate myenv
Install additional packages (if needed):


conda install numpy pandas
### 5. Deactivate the Environment:
To leave the environment, use:

conda deactivate

In [ ]:
is_match_over = True
print(is_match_over)  # Output: True

### Lists
    A list is a collection of items in a particular order.
    Example: List of cricket team players.
    
    Ordered: The items in a list have a specific order, and you can access them using an index (position).
    Mutable: You can change the items in a list (add, remove, or modify).
    Allows Duplicates: Lists can have multiple items with the same value.

In [ ]:
cricket_team = ["Virat", "Rohit", "Dhoni", "Rahul", "Jadeja", "Shami", "Bumrah", "Pant", "Iyer", "Kuldeep", "Pandya"]
print(cricket_team)  # Output: ['Virat', 'Rohit', 'Dhoni', 'Rahul', 'Jadeja', 'Shami', 'Bumrah', 'Pant', 'Iyer', 'Kuldeep', 'Pandya']

In [4]:
play=["one",1,2,98.6]

play2=["one",[1,[12,14],3],4]

play2

['one', [1, [12, 14], 3], 4]

In [7]:
my_list=[12, 13, 45, 34, 12, 19, 95, 54]
sum(my_list)

284

In [12]:
min(my_list)

95

In [13]:
max(my_list)

95

In [23]:
print("before the sorting",my_list)
sorted(my_list)

before the sorting [12, 13, 45, 34, 56, 12, 19, 95, 54, 342]

[12, 12, 13, 19, 34, 45, 54, 56, 95, 342]

In [20]:
my_list.append(342)

In [22]:
my_list.insert(4,56)

In [26]:
my_list.pop(6)

19

In [28]:
my_list

[12, 13, 45, 34, 56, 12, 95, 54]

In [27]:
my_list.index(95)

6

In [ ]:
range(start,end,step)

In [31]:
my_list=[12, 13, 45, 34, 12, 19, 95, 54]

#wap two separate list 
odd=[]
even=[]

for i in my_list:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(odd,even)

[13, 45, 19, 95] [12, 34, 12, 54]

In [39]:


for i in my_string:
    print(i,"---",list(my_string).count(i))

S --- 1
H --- 1
W --- 1
E --- 1
T --- 1
A --- 3
  --- 5
B --- 1
A --- 3
Y --- 2
Y --- 2
A --- 3
  --- 5
@ --- 2
  --- 5
c --- 1
h --- 1
i --- 2
n --- 1
m --- 2
a --- 3
y --- 2
a --- 3
  --- 5
@ --- 2
  --- 5
s --- 1
o --- 1
u --- 1
m --- 2
y --- 2
a --- 3
j --- 1
i --- 2
t --- 1

In [41]:
my_string[::-1]

'tijaymuos @ ayamnihc @ AYYAB ATEWHS'

In [ ]:
my_string="SHWETA BAYYA @ chinmaya @ soumyajit"

In [95]:
my_string[:3:1]

'SHW'

In [ ]:
my_string[:3:1]

In [ ]:
["start","range","step"]

In [40]:
my_string.split()

['SHWETA', 'BAYYA', '@', 'chinmaya', '@', 'soumyajit']

In [ ]:
DIFFERENCE BETWEEN STRING AND LIST??

STRING IS IMMUTABEL
LIST IS MUTABLE

In [28]:
play2

[12, 19, 95, 54, 13, 45, 34]

In [ ]:

players = ["Virat", "Rohit", "Dhoni"]
print(players[0])  # Output: Virat (access the first item)
players.append("Rahul")  # Add a new item
print(players)  # Output: ['Virat', 'Rohit', 'Dhoni', 'Rahul']
players[1] = "Sharma"  # Change an item
print(players)  # Output: ['Virat', 'Sharma', 'Dhoni', 'Rahul']

In [ ]:
[[100,10000,1000]
[100,260,120]]

In [ ]:
{"names":["ram","sam"],"age":[10,12]}

In [ ]:
{"agent":"","actor":""}

### Selection by Position
This involves selecting elements from a sequence based on their position.

In [ ]:
tennis_players = ["Nadal", "Federer", "Djokovic", "Murray"]
second_player = tennis_players[1]
print(second_player)  # Output: Federer

### Slicing
    Slicing allows you to get a part of the list.

    Example: Get the names of the first three players in the cricket team.

In [ ]:
first_three_players = cricket_team[:3]
print(first_three_players)  # Output: ['Virat', 'Rohit', 'Dhoni']

### Dictionaries
    Dictionaries store data in key-value pairs.
    Example: Store scores of players in a tennis match.

    Unordered: The items in a dictionary do not have a specific order, but you can access them using a key.

    Mutable: You can change the items in a dictionary (add, remove, or modify

    Keys Must Be Unique: Each key in a dictionary must be unique, but values can be duplicated.

In [ ]:
{"key":"value"}

In [36]:
my_list[0]

12

In [53]:
tennis_scores = {
    "Murray": '',
    "Federer": {"first":10,"second":13},
    "Djokovic": 7,
    "Murray": 5
}
print(tennis_scores)  # Output: {'Nadal': 6, 'Federer': 4, 'Djokovic': 7, 'Murray': 5}

# Accessing Nadal's score
  # Output: 6

{'Murray': 5, 'Federer': {'first': 10, 'second': 13}, 'Djokovic': 7}

In [39]:
tennis_scores["william"]=10

In [68]:
tennis_scores[0]

KeyError: 0

In [55]:
print(tennis_scores["Federer"]["first"])

10

In [56]:
my_dict={"house1":10000,"house2":123400}
my_dict['house1']>my_dict['house2']

False

### Sets (set)

    Unordered: The items in a set do not have a specific order, and you cannot access them using an index.
    
    Mutable: You can change the items in a set (add or remove items).
    
    No Duplicates: Sets automatically remove duplicate items.

In [59]:
my_L=[12,23,12,45,23,98,101,234]
set(my_dict)

{'house1', 'house2'}

In [61]:
tournaments = {"All England", "World Championships", "Olympics"}
tournaments

{'All England', 'Olympics', 'World Championships'}

In [63]:
tournaments.add("Thomas Cup")  
tournaments

{'All England', 'Olympics', 'Thomas Cup', 'World Championships'}

In [67]:
tournaments.remove("World Championships")

KeyError: 'World Championships'

In [69]:
c_list=["lenovo","mac","window","mac"]

set(c_list)

{'lenovo', 'mac', 'window'}

In [74]:
my_dicy1={}

In [77]:
my_dicy1

{'first': {'lenovo', 'mac', 'window'}}

In [76]:
my_dicy1["first"]=set(c_list)

In [ ]:

tournaments.add("Thomas Cup")  # Add a new item
print(tournaments)  # Output: {'All England', 'Olympics', 'World Championships', 'Thomas Cup'}
tournaments.remove("Olympics")  # Remove an item
print(tournaments)  # Output: {'All England', 'World Championships', 'Thomas Cup'}
tournaments.add("All England")  # Adding a duplicate has no effect
print(tournaments)  # Output: {'All England', 'World Championships', 'Thomas Cup'}

### Tuples
    Tuples are like lists but are immutable (cannot be changed). 

    Example: Store the coordinates of the corners of a badminton court.

    Ordered: The items in a tuple have a specific order, and you can access them using an index.
    Immutable: Once you create a tuple, you cannot change its items.
    Allows Duplicates: Tuples can have multiple items with the same value.

In [ ]:
court_corners = ((0, 0), (0, 20), (10, 0), (10, 20))
print(court_corners)  # Output: ((0, 0), (0, 20), (10, 0), (10, 20))

# Accessing the first corner
print(court_corners[0])  # Output: (0, 0)

In [84]:
my_tuple=("jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec")
# my_tuple.add("sunday")

In [85]:
my_tuple[10]

'nov'

In [ ]:
match_stats = ("Roger Federer", 3, 120.5)
print(match_stats[0])  # Output: Roger Federer (access the first item)
# match_stats[1] = 2  # This will cause an error because tuples are immutable

### IF Statements
    IF statements allow you to execute a block of code based on a condition.

    Example: Check if a player is in the cricket team.

In [ ]:
player_to_check = "Dhoni"
if player_to_check in cricket_team:
    print(f"{player_to_check} is in the team!")  # Output: Dhoni is in the team!
else:
    print(f"{player_to_check} is not in the team!")

### Loops
    Loops allow you to execute a block of code multiple times.
#### Types of Loops in Python
     For Loop   
     While Loop

### For Loop
A for loop is used for iterating over a sequence (such as a list, tuple, dictionary, set, or string).

Example 1: Simple For Loop
Let's say we want to print the numbers from 1 to 5.

In [ ]:
for i in range(1, 6):  # range(1, 6) generates numbers from 1 to 5
    print(i)

range(1, 6) generates a sequence of numbers from 1 to 5.

The for loop iterates over each number in this sequence and prints it.

Now, let's say we have a list of players in a cricket match

In [ ]:
for player in cricket_team:
    print(player)
# Output:
# Virat
# Rohit
# Dhoni
# Rahul
# Jadeja
# Shami
# Bumrah
# Pant
# Iyer
# Kuldeep
# Pandya

Now, let's say we have a list of scores in a cricket match and we want to calculate the total score.

In [ ]:
scores = [10, 20, 30, 40, 50]
total_score = 0

for score in scores:
    total_score += score  # Add each score to total_score

print(f"Total Score: {total_score}")

### While Loop
    A while loop repeatedly executes a block of code as long as a given condition is True.

    Example 3: Simple While Loop

    Let's print the numbers from 1 to 5 using a while loop.

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1  # Increment i by 1

    We initialize i to 1.

    The while loop checks if i is less than or equal to 5.

    If the condition is True, it prints i and then increments i by 1.

    The loop continues until i becomes 6, at which point the condition becomes False and the loop stops.

In [ ]:
#Let's calculate the sum of numbers from 1 to 5 using a while loop.

i = 1
total_sum = 0

while i <= 5:
    total_sum += i  # Add i to total_sum
    i += 1  # Increment i by 1

print(f"Total Sum: {total_sum}")

### Combining Loops with Conditional Statements

In [ ]:


for i in range(1, 11):
    if i % 2 == 0:  # Check if the number is even
        print(i)
        
# The for loop iterates over numbers from 1 to 10.
# The if statement checks if the number i is even (i % 2 == 0).
# If the condition is True, it prints the number.

### Loop with Break Statement

In [ ]:
# Let's find the first number greater than 50 in a list of scores and stop checking once we find it.
scores = [10, 20, 30, 40, 60, 70]
i = 0

while i < len(scores):
    if scores[i] > 50:
        print(f"First score greater than 50: {scores[i]}")
        break  # Exit the loop when the condition is met
    i += 1

    We initialize i to 0.

    The while loop checks if i is less than the length of the scores list.

    The if statement checks if the current score is greater than 50.

    If the condition is True, it prints the score and breaks out of the loop.

    If the condition is False, it increments i by 1 and continues the loop.

### List Comprehensions in Python

    List comprehensions provide a concise way to create lists. They consist of brackets containing an expression followed       by a for clause, then zero or more for or if clauses. The result will be a new list resulting from evaluating the           expression in the context of the for and if clauses which follow it.

    Basic Syntax
    
     new_list = [expression for item in iterable if condition]

    -expression is the item to be added to the new list.

    -iterable is any sequence (like a list, tuple, dictionary, set, etc.).

    -condition is optional; if provided, it filters items from the iterable.

In [ ]:
# Let's create a list of squared numbers from another list of integers.

numbers = [1, 2, 3, 4, 5]
squared_numbers = [n**2 for n in numbers]
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

In [ ]:
# Convert a tuple of temperatures in Celsius to Fahrenheit.


celsius = (0, 10, 20, 30, 40)
fahrenheit = [(temp * 9/5) + 32 for temp in celsius]
print(fahrenheit)  # Output: [32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
# Create a list of player names who scored more than 50 runs.

player_scores = {
    "Sachin": 100,
    "Dhoni": 85,
    "Kohli": 45,
    "Rohit": 60
}
top_scorers = [player for player, score in player_scores.items() if score > 50]
print(top_scorers)  # Output: ['Sachin', 'Dhoni', 'Rohit']

In [ ]:
'''Let's say we want to create a list of pairs (tuples) of numbers where both numbers are even, 
 and the first number is less than the second number. 
We'll use two for clauses and one if clause.'''

pairs = [(x, y) for x in range(5) for y in range(5) if x < y and x % 2 == 0 and y % 2 == 0]
print(pairs)
# Output: [(0, 2), (0, 4), (2, 4)]

In [ ]:
'''Imagine we have two lists of names and we want to combine them into a list of full names, 
but only if both the first name and the last name start with the same letter.'''


first_names = ["John", "Jane", "Jim", "Jill"]
last_names = ["Doe", "Smith", "Johnson", "Dane"]

full_names = [f"{first} {last}" for first in first_names for last in last_names if first[0] == last[0]]
print(full_names)
# Output: ['John Johnson', 'Jane Johnson', 'Jim Johnson', 'Jill Johnson']

### Functions
    Functions are blocks of code designed to do one specific job.
    
    Parameters: Variables listed inside the parentheses in the function definition.
    
    Arguments: Values passed to the function when you call it.
    
    To execute the function, use its name followed by parentheses ().
    
    If the function requires parameters, pass them inside the parentheses.

In [ ]:
# Let's start with a simple function that prints a greeting.

def greet():
    print("Hello, welcome to the game!")

# Calling the function
greet()

# We define a function named greet that prints a message.
# We call the greet function, and it prints "Hello, welcome to the game!".

In [ ]:
#  Function with a Return Value
# Functions can also return values using the return statement.

def calculate_average(score1, score2, score3):
    total = score1 + score2 + score3
    average = total / 3
    return average

# Calling the function and storing the result
average_score = calculate_average(50, 60, 70)
print(f"The average score is {average_score}")

In [ ]:
# Function with Default Parameters
# You can provide default values for parameters. If an argument is not provided, the default value is used.


def announce_winner(player="Unknown", score=0):
    print(f"The winner is {player} with a score of {score}.")

# Calling the function with and without arguments
announce_winner("Kohli", 120)
announce_winner()

In [ ]:
# Function with Keyword Arguments

def display_match_details(team1, team2, location):
    print(f"The match between {team1} and {team2} is at {location}.")

# Calling the function with keyword arguments
display_match_details(team1="India", team2="Australia", location="Mumbai")
display_match_details(location="Sydney", team1="England", team2="New Zealand")

### Let's Play
    Welcome to the grand finale of our Python training series! Let's take a fun and interactive journey through everything     we've learned, using our favorite sport, cricket, as the backdrop. Grab your popcorn, and let's recap our Python skills     in an engaging and memorable way.

    1. Python Basics: Getting Started
    Remember when we first met Python? It was like discovering a shiny new cricket bat. We learned about:

    Integers and Floats: Whole numbers and decimals. They’re like the runs we score.

In [ ]:
runs = 100  # An integer
average = 45.67  # A float
# Strings: Sequences of characters, like the name of your favorite player.

In [ ]:
player_name = "Sachin Tendulkar"
# Booleans: True or False values, like determining if a match is won.
is_winner = True

    2. Lists: The Team Lineup

    Lists are like the lineup of players in a cricket team. They’re ordered, mutable, and can contain duplicates.
    
    We learned how to add, remove, and change players in our list, just like a cricket coach tweaking the team.
    
    3. Slicing: Picking the Best Players
    Slicing helped us select specific players from our list, just like choosing the best players for a match.

In [ ]:
players = ["Sachin", "Dhoni", "Kohli", "Rohit"]
top_players = players[0:2]

    Picks Sachin and Dhoni

    4. IF Statements: Making Decisions on the Field

    IF statements are our decision-makers, like an umpire on the field.

In [ ]:
if runs > 50:
    print("Half-century!")
else:
    print("Keep going!")

    5. Loops: Practicing in the Nets

    Loops help us repeat actions, just like practicing in the nets.

In [ ]:
for player in players:
    print(f"{player} is ready to play!")

    6. Dictionaries: Player Stats
    Dictionaries are our stat sheets, storing key-value pairs of player names and scores.

In [ ]:

player_scores = {"Sachin": 100, "Dhoni": 85, "Kohli": 120}

    We accessed and updated these stats like checking a scorecard.
    
    7. Tuples: The Immutable Legends
        
    Tuples are like cricket legends – their records are unchangeable.

In [ ]:
legend = ("Sachin Tendulkar", 200)


    8. Functions: Team Strategies
    Functions are our game plans. We defined strategies and reused them.

In [ ]:
def announce_winner(player, score):
    print(f"The winner is {player} with a score of {score} runs.")

    9. List Comprehensions: Quick Strategies

    List comprehensions are the T20 of lists – quick and powerful.

In [ ]:
squared_scores = [score**2 for score in [10, 20, 30]]


    10. Combining Techniques: The Match Simulation
    Finally, we combined everything for our ultimate cricket simulation:

In [ ]:
# List of players and their scores
players = [
    {"name": "Sachin", "score": 100},
    {"name": "Dhoni", "score": 85},
    {"name": "Kohli", "score": 120},
    {"name": "Rohit", "score": 75}
]

# Displaying player scores
print("Cricket Game Scores:")
display_scores(players)

# Calculating and displaying the average score
average_score = calculate_average_score(players)
print(f"\nThe average score is {average_score:.2f} runs.")

# Announcing the highest scorer
announce_highest_scorer(players)

# Checking and congratulating century scorers
print("\nCentury Scorers:")
check_for_centuries(players)